In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns  
import matplotlib.pyplot as plt

In [5]:
url = 'https://raw.githubusercontent.com/nawinpoyen7/MachineLearning/main/CustomerSegmentationClassification.csv'
df=pd.read_csv(url)
df.sample(5)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
3746,463319,Female,Yes,73,No,Lawyer,1.0,High,3.0,Cat_6,B
6739,464846,Male,No,25,No,Entertainment,8.0,Low,2.0,Cat_4,D
5277,459181,Male,Yes,58,No,Artist,0.0,High,3.0,Cat_6,D
240,466947,Male,Yes,57,No,Executive,1.0,High,5.0,Cat_6,C
5639,461225,Female,No,32,No,Marketing,11.0,Low,6.0,Cat_6,D