In [1]:
import numpy as np
import pandas as pd
# สร้างแบบจำลองการเรียนรู้โดยใช้วิธี Naive Bayes Classifier
# นำเข้าคลาสของ GaussianNB จาก scikit learn 
from sklearn.model_selection import train_test_split
# นำเข้าคลาสของ train_test_split จาก scikit learn
from sklearn.naive_bayes import GaussianNB

In [2]:
# ตัวอย่างการใช้ Naive Bayes Classifer เเยกประเภทข้อมูลโดยใช้หลายคุณลักษณะ
df = pd.read_csv('https://raw.githubusercontent.com/nawinpoyen7/MachineLearning/main/DataSet/DataChange.csv')
df.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,1,0,22,0,1,1,0,4,3,D
1,462643,0,1,38,1,3,1,1,3,3,A
2,466315,0,1,67,1,3,1,0,1,5,B
3,461735,1,1,67,1,5,0,2,2,5,B
4,462669,0,1,40,1,2,1,2,6,5,A

In [3]:
# เเสดงหัวข้อในเเต่ละคอลัมน์ของฐานข้อมูล
df.columns

Index(['ID', 'Gender', 'Ever_Married', 'Age', 'Graduated', 'Profession',
       'Work_Experience', 'Spending_Score', 'Family_Size', 'Var_1',
       'Segmentation'],
      dtype='object')

In [4]:
# เเบ่งข้อมูลสำหรับเรียนรู้เเละทดสอบ โดย
test_size=.3
X_train, X_test, y_train, y_test = train_test_split(
    df[["Gender", "Ever_Married", "Age", "Graduated", "Profession", "Family_Size", "Spending_Score"]], 
    df[["Segmentation"]], 
    test_size=test_size, random_state=3) #3

In [5]:
# สร้างแบบจำลอง Naive Bayes Classifier โดย
model=GaussianNB()
model.fit(X_train, y_train)

C:\Users\Anwa\Downloads\machine\Newfolder\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(priors=None, var_smoothing=1e-09)

In [6]:
# ทดสอบทำนายผล
predicted = model.predict(X_test)

In [7]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, predicted)*100,'%')
print("Precision:",metrics.precision_score(y_test, predicted, average='micro')*100,'%')
print("Recall:",metrics.recall_score(y_test, predicted, average='micro')*100,'%')

Accuracy: 47.04667492771582 %
Precision: 47.04667492771582 %
Recall: 47.04667492771582 %