In [379]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [380]:
# ทดสอบประสิทธิภาพแบบจำลองด้วย cross validation
from sklearn.model_selection import cross_val_score

In [381]:
# ตัวอย่างการใช้ Naive Bayes Classifer เเยกประเภทข้อมูลโดยใช้หลายคุณลักษณะ
df = pd.read_csv('https://raw.githubusercontent.com/nawinpoyen7/MachineLearning/main/Data%20Change.csv')
df.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,0,22,0,Healthcare,1,0,4,Cat_4,D
1,462643,Female,1,38,1,Engineer,1,1,3,Cat_4,A
2,466315,Female,1,67,1,Engineer,1,0,1,Cat_6,B
3,461735,Male,1,67,1,Lawyer,0,2,2,Cat_6,B
4,462669,Female,1,40,1,Entertainment,1,2,6,Cat_6,A

In [382]:
df.replace({'Male':1},inplace=True)
df.replace({'Female':0},inplace=True)

In [383]:
df.replace({'Homemaker':9},inplace=True)
df.replace({'Marketing':8},inplace=True)
df.replace({'Executive':7},inplace=True)
df.replace({'Lawyer':6},inplace=True)
df.replace({'Engineer':5},inplace=True)
df.replace({'Doctor':4},inplace=True)
df.replace({'Entertainment':3},inplace=True)
df.replace({'Healthcare':2},inplace=True)
df.replace({'Artist':1},inplace=True)

In [384]:
df.replace({'Cat_7':7},inplace=True)
df.replace({'Cat_6':6},inplace=True)
df.replace({'Cat_5':5},inplace=True)
df.replace({'Cat_4':4},inplace=True)
df.replace({'Cat_3':3},inplace=True)
df.replace({'Cat_2':2},inplace=True)
df.replace({'Cat_1':1},inplace=True)

In [385]:
df.head(10)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,1,0,22,0,2,1,0,4,4,D
1,462643,0,1,38,1,5,1,1,3,4,A
2,466315,0,1,67,1,5,1,0,1,6,B
3,461735,1,1,67,1,6,0,2,2,6,B
4,462669,0,1,40,1,3,1,2,6,6,A
5,461319,1,1,56,0,1,0,1,2,6,C
6,460156,1,0,32,1,2,1,0,3,6,C
7,464347,0,0,33,1,2,1,0,3,6,D
8,465015,0,1,61,1,5,0,0,3,7,D
9,465176,0,1,55,1,1,1,1,4,6,C

In [386]:
# เเสดงหัวข้อในเเต่ละคอลัมน์ของฐานข้อมูล
df.columns

Index(['ID', 'Gender', 'Ever_Married', 'Age', 'Graduated', 'Profession',
       'Work_Experience', 'Spending_Score', 'Family_Size', 'Var_1',
       'Segmentation'],
      dtype='object')

In [387]:
# เเบ่งข้อมูลสำหรับเรียนรู้เเละทดสอบ โดย
X_train, X_test, y_train, y_test = train_test_split(
    df[["Spending_Score", "Family_Size", "Profession", "Graduated", "Age", "Ever_Married", "Gender"]], 
    df[["Segmentation"]], 
    test_size=test_size, random_state=7)

In [388]:
#สร้างแบบจำลอง
model.fit(X_train, y_train)

C:\Users\Anwa\Downloads\machine\Newfolder\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(priors=None, var_smoothing=1e-09)

In [389]:
# ทดสอบประสิทธิภาพแบบจำลองด้วย cross validation
scores = cross_val_score(model, X_train, y_train, cv=5, scoring='accuracy')
print('Accuracy: %.3f (%.3f)' % (np.mean(scores), np.std(scores)))

C:\Users\Anwa\Downloads\machine\Newfolder\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Anwa\Downloads\machine\Newfolder\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Anwa\Downloads\machine\Newfolder\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Anwa\Downloads\machine\Newfolder\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Anwa\Downloads\machine\Newfolder\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy: 0.454 (0.012)

In [390]:
# ทดสอบทำนายผล
predicted = model.predict(X_test)

In [392]:
# ทดลองเเสดงประสิทธิภาพ
y_test

     Segmentation
4179            A
7439            B
1617            B
3676            C
4115            C
3666            A
4432            C
6017            C
1524            C
6276            D
3186            B
3571            D
4924            D
3339            D
5924            A
5485            A
5636            B
2038            A
3389            B
6986            D
4831            D
2906            D
7961            D
5202            D
7333            A
3213            B
4728            D
6396            B
4526            B
6722            A
...           ...
3338            D
7391            D
699             A
1298            A
1363            C
6147            B
1379            C
6944            C
6507            A
152             C
5551            D
7912            D
7914            D
228             D
8050            C
1953            C
7737            C
1899            A
7597            D
4016            D
3640            C
7178            B
1130            D
130             A
4560            A
1404            C
493             C
2736            A
7403            A
7054            D

[2421 rows x 1 columns]

In [393]:
predicted

array(['A', 'C', 'C', ..., 'B', 'D', 'B'], dtype='<U1')

In [394]:
from sklearn import metrics
print(metrics.accuracy_score(y_test, predicted))
print(metrics.precision_score(y_test, predicted, average='micro'))
print(metrics.recall_score(y_test, predicted, average='micro'))

0.4729450640231309
0.4729450640231309
0.4729450640231309

In [395]:
# แสดงประสิทธิภาพของเเบบจำลอง
from sklearn import metrics
print(metrics.classification_report(y_test,predicted))

              precision    recall  f1-score   support

           A       0.39      0.26      0.31       586
           B       0.33      0.17      0.23       567
           C       0.47      0.64      0.55       597
           D       0.55      0.76      0.64       671

   micro avg       0.47      0.47      0.47      2421
   macro avg       0.44      0.46      0.43      2421
weighted avg       0.44      0.47      0.44      2421